<div class="container mt-5">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header">
          Basic
        </div>
        <div class="card-body">
          <h3 class="card-title">1000/<span>month</span></h3>
          <p class="card-text"><span class="text-muted">Duration</span></p>
          <p class="card-text"><span class="text-dark">1st Month</span></p>
          <p class="card-text"><span class="text-muted">Trainer</span></p>
          <p class="card-text"><span class="text-dark">No Trainer</span></p>
          <p class="card-text"><span class="text-muted">No. of person</span></p>
          <p class="card-text"><span class="text-dark">One person</span></p>
          <a href="#" class="btn btn-block btn-success">Subscribe Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header">
          Standard
        </div>
        <div class="card-body">
          <h3 class="card-title">1000/<span>month</span></h3>
          <p class="card-text"><span class="text-muted">Duration</span></p>
          <p class="card-text"><span class="text-dark">6th Months</span></p>
          <p class="card-text"><span class="text-muted">Trainer</span></p>
          <p class="card-text"><span class="text-dark">No Trainer</span></p>
          <p class="card-text"><span class="text-muted">No. of person</span></p>
          <p class="card-text"><span class="text-dark">One person</span></p>
          <a href="#" class="btn btn-block btn-success">Subscribe Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header">
          Premium
        </div>
        <div class="card-body">
          <h3 class="card-title">1000/<span>month</span></h3>
          <p class="card-text"><span class="text-muted">Duration</span></p>
          <p class="card-text"><span class="text-dark">12th Months</span></p>
          <p class="card-text"><span class="text-muted">Trainer</span></p>
          <p class="card-text"><span class="text-dark">No Trainer</span></p>
          <p class="card-text"><span class="text-muted">No. of person</span></p>
          <p class="card-text"><span class="text-dark">One person</span></p>
          <a href="#" class="btn btn-block btn-success">Subscribe Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
